* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #333131, #000000);
}

.login-container {
    width: 400px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}



.input-box {
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    height: 48px;
    background: #eee;
    padding: 13px 15px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    outline: none;
    color: #333;
    margin: 5px 0;

}

.input-box input::placeholder {
    color: #888;
}

.forgot-link {
    text-align: right;
    margin-bottom: 20px;
    text-align: center;
}

.forgot-link a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
}

.btn {
    width: 100%;
    height: 48px;
    background: #5a7ee0;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background 0.3s;
}

.btn:hover {
    background: #5a7ee0;
}

#error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    font-size: 14px;
    color: #333;
    padding-bottom: 10px;
}

.signup-error-msg,
.login-error-msg {
    color: red;
    font-size: 14px;
    text-align: center;
    margin: 10px;
}